<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5FvZtp7Z90N2Y6v7URrZsVIM9y-Kdbvw</string>
	<key>GCM_SENDER_ID</key>
	<string>979949474245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abed.IShowShop</string>
	<key>PROJECT_ID</key>
	<string>ishowshop-28af4</string>
	<key>STORAGE_BUCKET</key>
	<string>ishowshop-28af4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979949474245:ios:7707c87554dc522add7bac</string>
</dict>
</plist>